html {
  height: 100%;
  width: 100%;
}
h1{text-align: center;}

.characters{
  height:250px;
  border: 1px solid Black;
}

.beginning{
  display: flex;
  justify-content:
  space-around;
}
.options{
  display: flex;
  justify-content:
  space-around;
  padding: 80px;
}
.photo-one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  
}
.photo-two{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-three{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.photo-four{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-five{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-six{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-seven{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-eight{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-nine{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-ten{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-eleven{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-twelve{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-thirteen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-fourteen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-fifteen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-sixteen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-seventeen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-eighteen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photo-nineteen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
body {
  background-color: lightblue;
}
body {
  color: black;
}

h1 {
  color: black;
}
h1 {
  font-size: 60px;
}

h2 {
  font-size: 60px;
}

p {
  font-size: 15px;
}


























